.formHead {
  display: flex;
  justify-content: space-between;
}

// .compare-files-dialog {
//   .MuiDialog-paperWidthSm {
//     width: 500px;

//   }
// }

.__modal__wrapper {
  min-width: 300px;
  width: 400px;
  height: auto;
  .__modal__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .__modal__form__wrapper {
    display: flex;
    flex-direction: column;

    // .__modal__body {
    //   display: flex;
    //   min-width: 500px;
    //   flex-direction: row;
    //   justify-content: space-between;

    //   align-items: center;
    //   flex-grow: 1;
    //   .__label {
    //     flex: 2 1 0;
    //   }
    //   .__gap {
    //     flex: 1 1 0;
    //   }
    //   .__actual {
    //     flex: 6 1 0;
    //     .__input_custom {
    //       width: 100%;
    //     }
    //   }
    // }
    .__modal__form_button__wrapper{
      display:flex;
      justify-content: flex-end;
      align-items: center;
      gap:5px;
      margin-top: 5px;
    }
  }
}

// .buttonContainer {
//   .saveBtn {
//     margin: 5px;
//     background: teal;
//     color: white;
//     font-weight: 700;
//   }
//   .cancelBtn {
//     margin: 5px;
//     background: rgb(223, 10, 38);
//     color: white;
//     font-weight: 700;
//   }
// }
//   .MuiSelect-select.MuiSelect-select {
//     padding-right: 24px;
//     margin-top: 28px;
// }
// }
