.MissingPageMainDiv{

    border: 1px solid red;
    text-align: center;
    width: 90%;
    margin: auto;
    
    
    .AddButton{
        background-color: teal;
        color:white;
        
    }

    .AddButton:hover{
        background-color: rgb(17, 68, 68)
    }
    .AddButton{
        margin: 50px;

    }
    .TableContainer{
        width: 100%;
        margin: auto;
    }

}