.MissingPageMainDiv {
    // border: 1px solid red;
    text-align: center;
    width: 100%;
    margin: auto;

    .AddButton {
        background-color: teal;
        color: white;
    }

    .AddButton:hover {
        background-color: rgb(17, 68, 68);
    }

    .AddButton {
        margin: 50px;
    }

    .TableContainer {
        width: 100%;
        margin: auto;
        padding: 1%;
    }
}

.PlatformTableDiv {
    margin: 10%;

    button {
        padding: 10px;
        // background-color: teal;
        margin: auto;
        // color: white;
    }

    .AddOrgModal {
        width: 500px;
        // height: 700px;
    }

    .MuiPaper-root {
        width: 40%;
    }

    .AlbabottonBack {
        display: flex;
        justify-content: space-between;
    }
}

.__title {
    display: flex;
    justify-content: space-between;
}

.TextFormDivWatch {
    display: block;
    width: 80%;
    // border: 1px solid red;
    margin: auto;
}

.Addmemberbutton {
    border: 1px solid black;
}

.table {
    margin-top: 20px;
    background-color: #d9dde0;    

    tbody {
        display: block;
        overflow-y: auto;
        height: 460px;
    }

    thead,
    tbody tr{
        display: table;
        width: 100%; 
        table-layout: fixed;
        background-color: #d9dde0;    

    }

    
   
}

.albaauto{
    padding: 50px;
}

.alba-autocomplete__input__search__selection input {

    border: none;

}