.table{
  max-width: 100%;
}
.csv-page-container {
 
  flex-direction: column;
  width: 100%;

  // background-color: #f2f2f2; 
  // border: 1px solid #ddd;
  // border-radius: 8px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  margin: 1%;
  padding: 1%;
  border-radius: 5px;
  border: 1px black solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-top:1%;

  .MuiTypography-h5 {
    font-size: 24px;
    color: #333; /* Set your text color */
  }

  .add-button {
    background: teal;
    color: #fff;
  }
}

.table-container {
  margin-top: 16px;
}
.main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.hero-section {
  text-align: center;
  padding: 40px;
  background-color: #f2f2f2;
  

  .carousel {
    margin-bottom: 20px;
  }

  .hero-content {
    h2 {
      font-size: 2.5rem;
      margin: 0;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

.table-container,
.upload-container {
  margin-top: 20px;
  text-align: center;

  h5 {
    font-size: 1.5rem;
  }
}
.hero-section {
  .carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width:100%;
    margin: 0 auto;
  }

  .carousel-item {
    flex: 0 0 33.33%; /* Display three images at a time */
    padding: 10px;
  }

  .carousel img {
    max-width: 100%; /* Adjust image size as needed */
    height: auto;
  }
}