.csv-edit-buttons-container {
    margin-top: 16px;
  
    .cancel-button,
    .save-button,
    .edit-button,
    .download-button {
      color: #e0e0e0;
      background: teal;
      margin: 5px;
      &:hover {
        color: #00bbd1;
        background: teal;
      }
    }
  
    .cancel-button,
    .save-button {
      display: inline-block;
    }
  
    .edit-button {
      width: 10%;
    }
  
    .download-button {
        align-items:"center";
      display: inline-block;
    }
  }
  