.MuiContainer-maxWidthLg{
  max-width:100%;
}
.TableContainer {
  margin: 20px;
  padding: 20px;
  // max-width:100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

/* Style for table rows and cells */
.TableRow {
  &:nth-child(odd) {
    background-color: #f2f2f2;
  }

  &:hover {
    background-color: #e0e0e0;
  }

  .TableCell {
    padding: 8px;
    text-align: left;
  }
}

/* Style for Edit button */
.edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}

/* Style for Download button */
.download-button {
  margin-top: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #1e7e34;
  }
}
