.csv-modal-head{
display:flex; 
justify-content: space-between;
}
.upload-file-content{
  .fileInput{
    display: none;
  }
}
.chooseFileButton {
  background:teal;
  color: #fff; 
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}
.upload-btn-box{
  display:flex;
  justify-content: flex-end;
  width:100%;
  .uploadButton {
    background: teal; 
    color: #fff; 
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}
}
.__alba_button{
  border:unset
}
