.__dynamicinputs {
  height: 100vh;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .__dynamicinputs__wrapper {
    border: 1px solid black;
    height: auto;
    width: 60%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
