.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 0; /* Remove top and bottom padding */
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}
.modalTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
}
.modalHeading {
  font-size: 24px;
  color: teal;
}

.cartPaper {
  width: 25%;
}

.__cart__modal {
  width: 100%;
  
  .__modal__content{
    min-height: 500px;
    height: 60vh;
  }
}
