.SubMain{
    margin:50px auto;
    text-align: center;
    font-family: sans-serif;
    font-size: large; 
    width: 50%;
    margin-top: 8%;
    padding: 1%;
    border-radius: 50px;
    
}
.SubMain{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Main{
    /* border: 1px solid black; */
    margin: auto;
    width: 100%;
    /* background-image: url('https://elements-video-cover-images-0.imgix.net/files/77526968-0339-435f-b56e-ebd788abcbe5/inline_image_preview.jpg?auto=compress%2Cformat&fit=min&h=394&w=700&s=8451475881f7660bebe0ba42a1dbb175'); */
}