// html, body {
//     height: 100%;
//     margin: 0;
//     padding: 0;
//   }
// .container {
//     text-align: center;
//     padding: 20px;
//     background-image: url("https://www.pexels.com/photo/droplets-vector-art-268832");
//     background-size: cover; 
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   }
  
//   .text-wrapper {
//     position: relative;
//     height: 40px;
//     overflow: hidden;
//     display: flex;
//     flex-direction: column;
//   }
  
//   .text {
//     transition: transform 0.5s;
//     opacity: 1;
//     font-size: 18px;
//   }
  
//   .text-up {
//     transform: translateY(-100%);
//     opacity: 1;
//   }
  
//   .text-down {
//     transform: translateY(0);
//     opacity: 0;
//   }
  .app {
    text-align: center;
//     min-height: 100vh; 
//   min-width: 100vw; 
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   background-color: #f0f0f0; 
  }
  
  .bg_home {
    background: linear-gradient(135deg, #008080, #00cccc);
    padding: 100px 0;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .desc {
    margin-bottom: 20px;
  }
  
  .description {
    margin-bottom: 30px;
  }
  
  .explore-button {
    position: relative;
    top: 15px;
    background-color: #fca311;
    color: #fff;
    animation: bump 1s infinite alternate ease-in-out;
    &:hover {
      background-color: #e36209;
    }
  }
  
  @keyframes bump {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px); 
    }
  }