
  
  .bg_home {
    background: linear-gradient(135deg, #008080, #00cccc);
    padding: 100px 0;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .desc {
    margin-bottom: 20px;
  }
  
  .description {
    margin-bottom: 30px;
  }
  
  .explore-button {
    position: relative;
    top: 15px;
    left: 215px;
    background-color: #fca311;
    color: #fff;
    animation: bump 1s infinite alternate ease-in-out;
    &:hover {
      background-color: #e36209;
    }
  }
  
  @keyframes bump {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px); 
    }
  }
